html {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 90px;
  font-family: "Abril Fatface", cursive;
  margin: 0;
  top: 40%;
}
.home-left a {
  color: white;
}
.home-right a {
  color: black;
}
#home a:hover {
  color: #fb302e !important;
}
a,
a::after {
  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.nav-bg,
.nav-bg::after {
  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
section#home h1 {
  position: absolute;
}
#pad {
  width: 100%;
  height: 100%;
}

/* home section */
section#home {
  display: block;
  height: 100%;
  width: 100%;
}
.home-left {
  width: 50%;
  height: 100%;
  float: left;
  background-color: black;
  overflow: hidden;
}
.home-left h1 {
  color: white;
  right: 50%;
}
.home-right {
  width: 50%;
  height: 100%;
  float: right;
  background-color: white;
  overflow: hidden;
}
.home-right h1 {
  color: black;
}
/* introduction section */
section#intro {
  display: block;
  height: 100%;
  width: 100%;
}
.intro-right {
  width: 50%;
  height: 100%;
  float: right;
  background-color: black;
  overflow: hidden;
}
.intro-right h1 {
  color: white;
  right: 50%;
}
.intro-left {
  width: 50%;
  height: 100%;
  float: left;
  background-color: white;
  overflow: hidden;
}
.intro-left h1 {
  color: black;
}
p#left2p {
  text-align: center;
  font-size: 50px;
  width: 80%;
  margin: 0 auto;
  margin-top: 30%;
}
p#right2p {
  text-align: center;
  font-size: 50px;
  width: 80%;
  margin: 0 auto;
  margin-top: 35%;
  color: white;
}
/* experiences section */
section#experiences {
  display: block;
  background-color: #131326;
  overflow: hidden;
  text-align: center;
  min-height: 100%;
  overflow: hidden;
  padding-top: 157px;
}

section#experiences h2 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  margin-top: 30px;
  display: inline-block;
}
.plist {
  display: inline-block;
  width: 84%;
}
.elist {
  display: inline-block;
  width: 84%;
  margin-bottom: 50px;
}
div.project {
  float: left;
  width: 25%;
}

div.proj1 {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #2fbfc0;
}
div.proj2 {
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 50%;
  background-color: #182045;
}
div.proj3 {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #3078c1;
}
div.proj4 {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #b31b29;
}

div.proj5 {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #e84c2e;
}
div.proj6 {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #f2c230;
}

div.proj7 {
  width: 100%;
  height: 100%;
  margin-left: 100%;
  background-color: #213880;
}

.pr:hover {
  background-color: white;
}
/* experiences section */

.exp1 {
  width: 100%;
  float: left;
}
.pr {
  cursor: pointer;
}
.pr .img1 {
  width: 100%;
}
.pr .img2 {
  display: none;
}
.pr:hover .img2 {
  display: block;
  width: 100%;
}
.pr:hover .img1 {
  display: none;
}
/* hamburger menu */
#hamburger {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 80%;
  right: 85%;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-left: 50px;
}

.bar {
  display: block;
  width: 40%;
  height: 3%;
  margin-top: 10%;
  background: white;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.expand .bar:nth-child(1) {
  transform: translateY(10px) rotate(135deg);
}
.expand .bar:nth-child(2) {
  opacity: 0;
}
.expand .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-135deg);
}

.moreinfo,
.moreinfo img {
  display: none;
}
.getinfo .moreinfo {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background-color: white;
  overflow: hidden;
}
.getinfo .moreinfo img {
  display: block;
}

@media only screen and (max-width: 1060px) {
  p#left2p,
  p#right2p {
    font-size: 20px;
    margin-top: 80%;
  }
}

@media only screen and (max-width: 500px) {
  div.project {
    width: 50%;
  }
  section#experiences h2 {
    font-size: 32px;
  }
}

#photos {
  opacity: 0.88;
}

#photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 2px;
}

ul {
  list-style: none;
  margin: 0px auto;
  display: block;
  text-align: center;
  margin-left: -30px;
}

#overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#photos {
  width: 100%;
}

#photo-gallery {
  width: 100%;
}

.proj-div {
  display: block;
  padding: 30px;
  overflow: hidden;
}

.bujo #photos img {
  width: 10%;
}
.do #photos img {
  width: 13%;
}

.hbt #photos img {
  width: 15%;
}
.tritri #photos img {
  width: 13%;
}

.link {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.link:hover {
  text-decoration: underline;
}

.fixed {
  position: fixed !important;
  top: 0;
  z-index: 100;
}
.active {
  color: #fb302e !important;
}
